body{
	margin: 0;
	padding: 0;
}
.row{
  content: "";
  display: table;
  clear: both;
}
header{
	width: 100%;
	height: 92px;
	float: left;
}
.logo{
	position: inherit;
	margin-left: 180px;
	margin-top: 30px;
	float: left;
}

.nav{
	position: inherit;
}
.nav_menu{
	list-style-type: none;
	float: left;
	margin-top: 33px;
	margin-left: 330px;
}
.nav_menu_li{
	display: inline-block;
	margin-right: 20px;
	font-size: 1.2em;
	color: #343e5c;
}
.nav_a{
	text-decoration: none;
	color: #343e5c;
}
.market{
	float: right;
	margin-right: 180px;
}

.market_corsines{
	float: left;

}
.market_img{
	float: left;
	margin-top: 33px;
	margin-right: 40px;
	
}

.market_cart{
	float: left;
	margin-top: 33px;
	text-transform: uppercase;
}

.market_number{
	float: right;
	margin-top: 22px;
	margin-left: 20px;
	border-radius: 50%;
	background: #e3e8f0;
	width: 43px;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	margin-right: 50px;
}

.market_button{
	float: right;
	border-radius: 16px;
	border:solid  2px #e3e8f0;
	padding: 10px;
	margin-top: 23px;
	background: #fff;
	text-transform: uppercase;
	width: 80px;
	cursor: pointer;
	color: #343e5c;
}

.hr{
	background: #f0f2f7;
	height: 2px;
	margin-top: 30px;
	float: left;
	width: 100%;
}

.menu{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

.menu_navigation{
	margin-left: 140px;
	list-style-type: none;
}

.menu_href{
	float: left;
	margin-right: 20px;
	
}

.menu_post{
	text-decoration: none;
	color: #b9bed1;
	text-transform: uppercase;
}

.menu_post:hover{
	color: #343e5c;
}

.support_post{
	text-decoration: none;
	color: #b9bed1;
	text-transform: uppercase;
	margin-left: 700px;
}

.support_post:hover{
	color: #343e5c;
}

.support_img{
	margin-left: 50px;
}

.support_input{
	margin-left: 10px;
	border: 0px solid;
	width: 130px;
	height: 20px;
}

.article{
	float: left;
	width: 100%;
	}

.article_contanier{
	margin-top: 40px;
	background: #1c1e23;
	width: 100%;
	padding: 0px 400px 0px 400px;
}

.article_h1{
	color: #fff;
	font-size: 42px;
}

.article_text{
	color: #fff;
}
.article_button{
	background: #2754eb;
	border-radius: 21px;
	border: none;
	color: #fff;
	padding: 15px 50px 15px 50px;
	cursor: pointer;
	float: left;
	margin-top: 70px;
}
.article_contanier3{
	margin-right: 450px;
	margin-top: 70px;
	float: left;
}

.article_contanier2{
	overflow: hidden;
	height: 500px;
}

.article_contanier4{
	margin-top: -60px;
}